*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(0, 20, 25);
    font-family: 'Teko', sans-serif;
}

.wrapper{
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.title{
    background:rgb(17, 88, 116);
    text-align: center;
    color: white;
    font-size: 26px;
    width: 60%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.container{
    height: 350px;
    width: 60%;
    background: rgb(28, 131, 172);
    padding-top: 3px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
    scrollbar-color: rgb(17, 88, 116) rgb(28, 110, 172);
}

.line{
    display: flex;
    justify-content: space-between;
    padding: 3px;
    background: rgb(28, 110, 172);
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
}

.line:hover{
    background: rgb(28, 90, 172);
    transition: all 0.2s ease-in;
}

.text-check-wrapper{
    display: flex;
    align-items: center;
}

.line-check{
    position: relative;
    top: 1px;
    margin-right: 3px;
    font-size: 16px;
    color: white;
    
}

.line-text{
    color: white;
    font-size: 18px;
    max-width: 200px;
    overflow-wrap: break-word;
}

.line-create{
    display: flex;
    background:rgb(17, 88, 116);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.line-create input{
    background:rgb(17, 88, 116);
    color: white;
    font-size: 16px;
    margin-top: 4px;
    border: none;
    height: 30px;
    width: 80%;
    padding-left: 3px;
}



.buttons{
    display: flex;
    align-items: center;

}

.buttons button{
    border: none;
    background: rgb(17, 88, 116);
    color: white;
    width: 20px;
    height: 20px;
}

.btn{
    border: none;
    background: rgb(13, 73, 97);
    color: white;
    font-size: 30px;
    width: 30px;
}

button:hover{
    background: black;
}

.line-check, .buttons button, .btn{
    cursor: pointer;
}

.crossed-line{
    text-decoration: line-through;
    text-decoration-color: white;
}

.edit-btn img{
    position: relative;
    top: 1px;
}

